/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d18ca");

  
@font-face {font-family: 'UomoBold';src: url('../fonts/2D18CA_0_0.eot');src: url('../fonts/2D18CA_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D18CA_0_0.woff2') format('woff2'),url('../fonts/2D18CA_0_0.woff') format('woff'),url('../fonts/2D18CA_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UomoPiccolo';src: url('../fonts/2D18CA_1_0.eot');src: url('../fonts/2D18CA_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D18CA_1_0.woff2') format('woff2'),url('../fonts/2D18CA_1_0.woff') format('woff'),url('../fonts/2D18CA_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'Emblema-Headline1Basic';src: url('../fonts/2D18CA_2_0.eot');src: url('../fonts/2D18CA_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2D18CA_2_0.woff2') format('woff2'),url('../fonts/2D18CA_2_0.woff') format('woff'),url('../fonts/2D18CA_2_0.ttf') format('truetype');}

@font-face {
    font-family: 'deftone_stylusregular'; src: url('../fonts/deftone-webfont.eot');
    src: url('../fonts/deftone-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/deftone-webfont.woff2') format('woff2'),
         url('../fonts/deftone-webfont.woff') format('woff'),
         url('../fonts/deftone-webfont.ttf') format('truetype'),
         url('../fonts/deftone-webfont.svg#deftone_stylusregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 